In [2]:
import pandas as pd
import numpy as np

In [4]:
cd = pd.read_csv('owid-covid-data.csv')

In [5]:
cd.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [7]:
cd['new_cases'].to_numpy()

array([  5.,   0.,   0., ..., 553.,   0., 441.])

In [8]:
cd.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [9]:
cd.index

RangeIndex(start=0, stop=155139, step=1)

In [10]:
cd.values

array([['AFG', 'Asia', 'Afghanistan', ..., nan, nan, nan],
       ['AFG', 'Asia', 'Afghanistan', ..., nan, nan, nan],
       ['AFG', 'Asia', 'Afghanistan', ..., nan, nan, nan],
       ...,
       ['ZWE', 'Africa', 'Zimbabwe', ..., nan, nan, nan],
       ['ZWE', 'Africa', 'Zimbabwe', ..., nan, nan, nan],
       ['ZWE', 'Africa', 'Zimbabwe', ..., nan, nan, nan]], dtype=object)

In [11]:
cd['new_cases'].count()

152239

In [12]:
cd['new_cases'].min()

-74347.0

In [13]:
cd['new_cases'].max()

3701643.0

In [14]:
cd['new_cases'].unique()

array([5.000e+00, 0.000e+00, 3.000e+00, ..., 4.872e+03, 3.406e+03,
       4.180e+03])

In [15]:
cd['new_cases'].value_counts()

0.0         37468
1.0          3684
2.0          2438
3.0          1970
4.0          1657
            ...
21095.0         1
10698.0         1
117145.0        1
21182.0         1
28033.0         1
Name: new_cases, Length: 19601, dtype: int64

In [16]:
cd['new_cases'].describe()

count    1.522390e+05
mean     9.063711e+03
std      5.943285e+04
min     -7.434700e+04
25%      1.000000e+00
50%      7.200000e+01
75%      9.470000e+02
max      3.701643e+06
Name: new_cases, dtype: float64

In [18]:
cd['new_cases'].values

array([  5.,   0.,   0., ..., 553.,   0., 441.])

In [19]:
cd[['date','new_cases']]

              date  new_cases
0       2020-02-24        5.0
1       2020-02-25        0.0
2       2020-02-26        0.0
3       2020-02-27        0.0
4       2020-02-28        0.0
...            ...        ...
155134  2022-01-12     1433.0
155135  2022-01-13      651.0
155136  2022-01-14      553.0
155137  2022-01-15        0.0
155138  2022-01-16      441.0

[155139 rows x 2 columns]

In [21]:
cd.iloc[1:10,5]

1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: new_cases, dtype: float64

In [22]:
cd.loc[20:30,'date']

20    2020-03-15
21    2020-03-16
22    2020-03-17
23    2020-03-18
24    2020-03-19
25    2020-03-20
26    2020-03-21
27    2020-03-22
28    2020-03-23
29    2020-03-24
30    2020-03-25
Name: date, dtype: object

In [23]:
cd.dtypes

iso_code                                    object
continent                                   object
location                                    object
date                                        object
total_cases                                float64
                                            ...
human_development_index                    float64
excess_mortality_cumulative_absolute       float64
excess_mortality_cumulative                float64
excess_mortality                           float64
excess_mortality_cumulative_per_million    float64
Length: 67, dtype: object

In [27]:
cd['date'] = cd['date'].astype('datetime64')

In [28]:
cd['date'].dt.day

0         24
1         25
2         26
3         27
4         28
          ..
155134    12
155135    13
155136    14
155137    15
155138    16
Name: date, Length: 155139, dtype: int64

In [30]:
cd['date'].dt.month

0         2
1         2
2         2
3         2
4         2
         ..
155134    1
155135    1
155136    1
155137    1
155138    1
Name: date, Length: 155139, dtype: int64

In [31]:
cd = pd.read_csv('owid-covid-data.csv', parse_dates = ['date'])

In [32]:
cd['date']

0        2020-02-24
1        2020-02-25
2        2020-02-26
3        2020-02-27
4        2020-02-28
            ...
155134   2022-01-12
155135   2022-01-13
155136   2022-01-14
155137   2022-01-15
155138   2022-01-16
Name: date, Length: 155139, dtype: datetime64[ns]

In [34]:
cd['total_deaths'].isna().sum()

20140

In [36]:
cd['total_deaths'].fillna(-158)

0         -158.0
1         -158.0
2         -158.0
3         -158.0
4         -158.0
           ...
155134    5215.0
155135    5222.0
155136    5238.0
155137    5238.0
155138    5247.0
Name: total_deaths, Length: 155139, dtype: float64

In [37]:
'Poland' in cd['location'].unique()

True